#container {
  text-align: center;
  max-width: 43em;
  margin: 0 auto;
  top: 0;
}

#top {
  position: absolute;
  text-align: center;
  top: 0;
  margin-left: 12em;
}

#main {
  margin: 8em 8em;
  width: 35em;
  text-align: left;
  padding: 1em;
}

#menu {
  position: absolute;
  top:0;
  left: 0;
  float: right;
  width: 8em;
  text-align: left;
  padding-left: 1em;
  padding-top: 1em;
}
