body {
  text-align: center;
  width: 43em;
  margin: 0 auto;
  top: 0;
}

#main {
  float: right;
  width: 35em;
  margin: 0px 0px 0px 0px;
  text-align: left;
}

#menu {
  position: absolute;
  top:0;
  left: 0;
  float: right;
  width: 8em;
  text-align: left;
  padding-left: 1%;
  padding-top: 1%;
}
