Redirect 301 /graph/SetupGraphBeta.exe http://www.padowan.dk/graph/DownloadBeta.php
Redirect 301 /graph/SetupGraph.exe http://www.padowan.dk/graph/DownloadGraph.php
Redirect 301 /graph/SetupGraph-4.2.exe http://www.padowan.dk/graph/DownloadGraph.php

Redirect 301 /graph/donate.html http://www.padowan.dk/graph/Donation.php
Redirect 301 /graph/support.html http://www.padowan.dk/forum
Redirect 301 /graph/download.php http://www.padowan.dk/graph/DownloadGraph.php

